[submodule "bundle/vim-indent-lines"]
    path = bundle/vim-indent-lines
	url = git@github.com:Yggdroot/indentLine.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
